body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fc;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 7%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar .logo img {
  width: 80px; /* Atur lebar gambar sesuai kebutuhan */
  height: auto; /* Atur tinggi gambar secara otomatis sesuai perubahan lebar */
}

/* HERO */
.hero {
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.hero-text {
  max-width: 50%;
  padding: 1.5rem 7%;
}

.hero-image img {
  max-width: 80%;
  border-radius: 10px;
  margin-right: 5rem;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #2d3e50;
}

/* Button Styles */
.signup-btn {
  padding: 10px 20px; /* Sesuaikan dengan ukuran yang diinginkan */
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #0056b3;
}

/* CTA */

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* MENU */

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px 0;
}
.menu-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  flex: 1;
}
.menu-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.menu-card h3 {
  color: #333;
  margin: 15px 0;
}
.menu-card p {
  color: #777;
  margin: 10px 0;
}
.menu-card a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
